
body {
    background-image:  url("portfolioback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100% !important;
    width: 100% !important;
  }
.Ang {

    color: lightblue;
}

/* .col-lg-9 {
    background-color: lightblue;
} */

.footer-angelo {
    color: white;
}


/*aboutme*/
.Me{
    color:red;
}
.languages {

    border-radius: 2%;
    border-color: blue;
}
p,h2{
    font-family: 'Sansita Swashed', cursive;
    columns: yellow;
}
.profileimage {
    background-color: white;
    width: 200px;
    height: 200px;
}
.logo {
    width: 45px;
    height: 45px;
}
/* .row {
    border: solid red;
} */

.page-footer {
    width: 100%;
    bottom: 0%;
    position: absolute;
    align-content: center;
}

.container1 {
    
    background-color: black;
}

.card {
    margin: 1rem;
}

.link {
    color: white;
}
